* {
  margin: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  background-image: linear-gradient(rgba(39, 88, 10, 0.5), rgba(62, 83, 70, 0.5)), url(/img/nbg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.container header {
  width: 100wh;
  height: 15rem;
  position: sticky;
  display: grid;
  background-position: center;
  background-size: cover;
  place-items: center;
}
.container header #SIGN {
  font-family: "Square Peg", cursive;
  font-size: 5.5vw;
  text-align: center;
  color: rgb(195, 240, 190);
}
.container header .description {
  font-family: "Square Peg", cursive;
  font-size: 5rem;
  color: rgba(36, 173, 36, 0.8);
  font-weight: bold;
  text-align: center;
}
.container header span {
  color: rgb(7, 31, 61);
  font-weight: bolder;
  font-size: 5rem;
}
.container nav {
  display: flex;
  justify-content: center;
  background: rgba(82, 67, 167, 0.4);
  height: 6rem;
}
.container .fixed {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3vw;
  padding: 1rem;
  z-index: 9999;
}
.container .sticky {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: rgba(13, 14, 13, 0.4);
  top: 0;
  height: 7rem;
  z-index: 999999;
}
.container .sticky .active {
  background-color: rgba(166, 167, 215, 0.7);
  transition: 1ms ease text-decoration;
  color: #50eb3b;
}
.container .sticky span {
  font-size: 1.8vw;
}
.container span {
  padding: 1rem;
}
.container a {
  color: rgb(238, 222, 222);
  text-decoration: none;
}
.container a:hover {
  color: rgb(3, 35, 53);
  text-decoration: underline;
}
.container .carousel1 {
  height: 60vh;
  width: 100%;
  background: transparent;
  display: grid;
  margin-top: 2vh;
  grid-template-columns: 15% 1fr 15%;
  position: static;
}
.container .carousel1 .carousel_item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  place-items: center;
  background: transparent;
}
.container .carousel1 .carousel_item .item {
  height: 60vh;
  width: 70vw;
  background-color: transparent;
  display: none;
  opacity: 0.9;
}
.container .carousel1 .carousel_item .show {
  display: block;
  opacity: 1;
  position: relative;
  transition-delay: 0.07ms;
}
.container .carousel1 .carousel_item img {
  height: 58vh;
  width: 50vw;
  border: 0.1rem solid rgb(134, 236, 177);
  backface-visibility: visible;
}
.container .carousel1 .bttn_con {
  background: transparent;
  font-size: 5rem;
  display: grid;
  place-items: center;
}
.container .carousel1 .a_btn {
  font-size: 7rem;
  color: #83d473;
  opacity: 1;
}
.container .carousel1 .a_btn:hover {
  opacity: 0.9;
  background: #3e413e;
  text-decoration: none;
}
.container .THEME {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(148, 180, 178, 0.5);
}
.container .THEME h1 {
  font-size: 2rem;
  color: white;
}
.container .THEME h1 .JAPAN {
  color: #e0f804;
  font-weight: 900;
}
.container .THEME h1 .JAPAN:hover {
  color: rgba(236, 14, 14, 0.5);
}
.container .services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 5rem;
  padding-top: 8rem;
  color: rgb(255, 255, 255);
  z-index: 999;
}
.container .gig:hover:hover {
  color: rgb(196, 111, 111);
}
.container .achievement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  margin: 4rem;
  justify-content: center;
}
.container .achievement .outside {
  height: 30vh;
  width: 30vw;
  border-radius: 20%;
  background-color: rgba(77, 88, 10, 0.747);
  padding: 2rem;
  object-fit: contain;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.container .achievement .outside .inside {
  display: grid;
  place-items: center;
}
.container .achievement .outside li {
  font-size: 1.7rem;
  color: #e4f1e6;
  padding: 0.25rem;
}
.container .achievement .outside ul {
  font-size: 2rem;
  color: #7bc03f;
  text-decoration: underline;
}
.container .achievement .outside ul:hover {
  color: #dbebde;
  text-decoration: none;
}

.container1 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(212, 200, 28, 0.5), rgba(159, 175, 88, 0.5)), url(/img/avatar.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container1 .main .connect {
  height: 76vh;
  width: 100%;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 .main .connect h1 {
  text-align: center;
  font-size: 5rem;
  color: #134a9e;
}
.container1 .main .f_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container1 .main .f_container .foot_box {
  height: 10vh;
  width: 100%;
  background-color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 .main .f_container .foot_box img {
  padding: 0.5rem;
  height: 10vh;
  width: vw;
}

.container3 {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(160, 177, 64, 0.3), rgba(116, 101, 21, 0.3)), url(/img/cbg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.container3 .about {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container3 .about .me {
  background-color: #a03535;
  z-index: 9999;
}
.container3 .about .services {
  padding-top: 2rem;
  height: 92vh;
  width: 38vw;
  display: grid;
  justify-content: right;
  gap: 1rem;
  padding-right: 2rem;
  inset: 2rem;
}
.container3 .about .services .sbox {
  height: 30vh;
  width: 35vw;
  font-size: 2vw;
  text-align: center;
  background-color: rgba(72, 82, 29, 0.6);
}
.container3 .about .services .sbox p {
  text-align: center;
  padding: 1rem;
  font-size: 1.7vw;
  color: rgb(253, 252, 252);
}
.container3 .about .intro {
  height: 100vh;
  width: 100%;
  direction: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container3 .about .intro p {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  color: #f8f8f8;
}
.container3 .about .con {
  height: 100vh;
  width: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}
.container3 .about .con .con1 {
  height: 40vh;
  width: 60vw;
}
.container3 .about .con .con1 video {
  padding-right: 60rem;
  height: 40vh;
  width: 60vw;
}

.container4 {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(219, 217, 66, 0.5), rgba(155, 148, 55, 0.5)), url(/img/newbg2.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
}
.container4 header {
  padding-bottom: 2vh;
  height: 5vh;
  width: 100vw;
  text-align: center;
  font-size: 1.4vw;
}
.container4 header h1 {
  color: rgb(5, 8, 89);
}
.container4 .blog_nav {
  padding-top: 3vh;
  height: 4vh;
  width: 100vw;
  display: flex;
  place-items: center;
  justify-content: center;
}
.container4 .blog_nav .blog_conatiner {
  height: 15rem;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgb(78, 57, 196);
  text-align: center;
}
.container4 .blog_nav span a {
  font-size: 1.4vw;
  color: #431cb9;
  padding: 1rem;
  text-decoration: none;
}
.container4 .write_box {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  padding: 3.5%;
  object-fit: cover;
}
.container4 .write_box .write {
  width: 80vw;
  height: 5vh;
  font-size: 1.3vw;
  color: rgb(0, 3, 10);
  font-family: cursive;
}
.container4 .modal_body h2 {
  padding: 1rem;
  font-size: 1.2vw;
  color: #810812;
  text-decoration: underline;
}
.container4 .modal_body h2:hover {
  color: #a03535;
}
.container4 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(161, 133, 133); /* Fallback color */
  background-color: rgba(164, 221, 208, 0.7); /* Black w/ opacity */
  /* Modal Content */
}
.container4 .modal .modal-content {
  background-color: rgba(175, 241, 157, 0.7);
  display: grid;
  margin: auto;
  padding: 5rem;
  border: 1px solid rgb(226, 15, 15);
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 60vh;
  /* The Close Button */
}
.container4 .modal .modal-content h2 {
  font-size: 4rem;
  color: black;
}
.container4 .modal .modal-content p {
  font-size: 2rem;
  color: black;
}
.container4 .modal .modal-content .re {
  height: 2rem;
  color: #4a0808;
}
.container4 .modal .modal-content input {
  background-color: rgba(93, 131, 138, 0.5);
  border: none;
}
.container4 .modal .modal-content .close {
  color: #1c04f8;
  float: right;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.container4 .modal .modal-content .ebcf_close:hover,
.container4 .modal .modal-content .ebcf_close:focus {
  color: rgba(206, 160, 160, 0.5);
  text-decoration: none;
  cursor: pointer;
}
.container4 .modal .modal-content .form {
  font-size: 2rem;
  color: rgb(158, 42, 42);
}
.container4 .parts {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  padding-top: 15vh;
}
.container4 .parts div {
  height: 50vh;
  width: 15vw;
  padding: 0.3rem;
  text-align: center;
}
.container4 .parts div img {
  height: 50vh;
  width: 19vw;
}

/*# sourceMappingURL=main.css.map */
