* {
  margin: 0;
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  background-image: linear-gradient(rgba(39, 88, 10, 0.5), rgba(62, 83, 70, 0.5)), url(/img/pic.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.container header {
  width: 100wh;
  height: 25rem;
  position: sticky;
  background-image: url(/img/fixed2.png);
  background-position: center;
  background-size: cover;
  align-items: center;
}
.container header #SIGN {
  font-family: "Square Peg", cursive;
  font-size: 9rem;
  text-align: center;
  color: rgb(216, 67, 26);
}
.container header .description {
  font-family: "Square Peg", cursive;
  font-size: 5rem;
  color: rgba(7, 3, 54, 0.8);
  font-weight: bold;
  text-align: center;
}
.container header span {
  color: rgb(71, 12, 12);
  font-weight: bolder;
  font-size: 5rem;
}
.container nav {
  display: flex;
  justify-content: center;
}
.container .fixed {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  z-index: 9999;
}
.container .fixed .active {
  text-decoration: underline;
  transition: 0.3ms ease text-decoration;
  color: #50eb3b;
}
.container .sticky {
  position: fixed;
  background-color: rgba(25, 94, 4, 0.5);
  top: 0;
  height: 8rem;
  z-index: 999999;
}
.container .sticky span {
  font-size: 3.5rem;
}
.container span {
  padding: 1.5rem;
}
.container a {
  color: rgb(3, 1, 1);
  text-decoration: none;
}
.container a:hover {
  color: rgb(3, 35, 53);
  text-decoration: underline;
}
.container .services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 5rem;
  padding-top: 8rem;
  color: rgb(255, 255, 255);
  z-index: 999;
}
.container .gig:hover:hover {
  color: rgb(196, 111, 111);
}
.container .achievement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
}
.container .achievement div {
  left: 20rem;
  height: 35vh;
  width: 33vw;
  background-color: rgba(5, 41, 12, 0.7);
  padding: 2rem;
  object-fit: contain;
}
.container .achievement div li {
  font-size: 1.7rem;
  color: #2fc944;
  padding: 0.25rem;
}
.container .achievement div ul {
  font-size: 2rem;
  color: #224109;
  text-decoration: underline;
}

.container1 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(159, 215, 179, 0.5), rgba(62, 83, 70, 0.5)), url(/img/end.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.container1 .feedback {
  padding-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
  color: rgb(114, 39, 16);
}
.container1 .reviews {
  text-align: center;
  padding-bottom: 0rem;
  color: rgba(255, 255, 255, 0.776);
  font-family: "EB Garamond", serif;
}
.container1 .reviews img {
  height: 5.5rem;
}
.container1 .reviews p {
  padding-top: 2rem;
  font-size: 3.5rem;
}
.container1 div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  display: inline-block;
  text-align: center;
}
.container1 footer {
  border: 5em rgb(57, 189, 132);
}
.container1 .footer-border {
  width: 100%;
  height: 5vh;
  align-items: center;
  background-color: solid rgb(52, 186, 177);
}
.container1 span {
  padding-bottom: 2rem;
}
.container1 h1 {
  font-size: 3.5rem;
  color: rgba(12, 37, 104, 0.8);
  padding: 2rem;
}
.container1 h1:hover {
  color: rgba(2, 9, 26, 0.9);
}
.container1 a {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(158, 42, 42);
}
.container1 img {
  height: 6.5rem;
}

.container3 {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(159, 211, 149, 0.3), rgba(158, 110, 39, 0.3)), url(/img/bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}
.container3 .carousel {
  position: relative;
}
.container3 .carousel .carousel_item {
  height: 80vh;
  width: 60vw;
  background-color: #888;
  color: #f80404;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.container3 .carousel .carousel_item .img {
  height: 80vh;
  width: 60vw;
}
.container3 .carousel .carousel_item video {
  height: 80vh;
  width: 60vw;
}
.container3 .carousel .item_selected {
  display: block;
}
.container3 .carousel .car_nav {
  width: 60vw;
  height: 5vh;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.container3 .carousel .car_nav .btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  background-color: rgba(98, 122, 12, 0.3);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.container3 .carousel .car_nav .btn_selected {
  background-color: rgba(145, 53, 11, 0.5);
}

.container4 {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(196, 136, 27, 0.5), rgba(15, 100, 47, 0.5)), url(/img/bg2.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
}
.container4 header {
  padding: 1rem;
  height: 5vh;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
}
.container4 .blog_nav {
  padding: 1rem;
  height: 5vh;
  width: 100vw;
  background-color: rgba(114, 30, 15, 0.9725490196);
  display: flex;
  justify-content: center;
}
.container4 .blog_nav .blog_conatiner {
  height: 15rem;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgb(224, 154, 145);
  text-align: center;
  font-size: 3rem;
}
.container4 .blog_nav a {
  font-size: 3rem;
  color: #eed8df;
  padding: 1rem;
  text-decoration: none;
}
.container4 .write_box {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
}
.container4 .write_box .write {
  padding-top: 2.5vh;
  width: 80vw;
  height: 5vh;
  font-size: 2.3rem;
  color: rgb(30, 53, 156);
  font-family: cursive;
}
.container4 .modal_body h2 {
  font-size: 2rem;
  color: #f80404;
  text-decoration: underline;
}
.container4 .modal_body h2:hover {
  color: #a03535;
}
.container4 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(88, 199, 171, 0.4); /* Black w/ opacity */
  /* Modal Content */
}
.container4 .modal .modal-content {
  background-color: rgba(44, 165, 14, 0.7);
  margin: auto;
  padding: 5rem;
  border: 1px solid #888;
  width: 80vw;
  height: 50vh;
  /* The Close Button */
}
.container4 .modal .modal-content h2 {
  font-size: 4rem;
}
.container4 .modal .modal-content p {
  font-size: 2rem;
}
.container4 .modal .modal-content input {
  background-color: rgba(173, 222, 236, 0.5);
  border: none;
  border-radius: 20%;
}
.container4 .modal .modal-content .close {
  color: #f80404;
  float: right;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.container4 .modal .modal-content .ebcf_close:hover,
.container4 .modal .modal-content .ebcf_close:focus {
  color: rgba(131, 24, 24, 0.5);
  text-decoration: none;
  cursor: pointer;
}
.container4 .modal .modal-content .form {
  font-size: 2rem;
  color: rgb(131, 36, 36);
}
.container4 .parts {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  padding-top: 5%;
}
.container4 .parts div {
  height: 70vh;
  width: 19vw;
  padding: 1rem;
  text-align: center;
}
.container4 .parts div span {
  padding: 1rem;
}
.container4 .parts div img {
  height: 70vh;
  width: 19vw;
}

/*# sourceMappingURL=main.css.map */
