@import "mixin";
 @import "var";


*{
//    inset: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    // z-index: -99;
    padding: 0;
    box-sizing: border-box;
    // border-top:1rem solid green;
    // font-family: 'Square Peg', cursive;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
.container{
    @include flexmin;
    background-image :(linear-gradient(rgba(39, 88, 10, 0.5),rgba(62, 83, 70, 0.5)),url(/img/nbg.jpg));
    background-size: cover;
    // background: rgb(49,125,134);
    // background: linear-gradient(90deg, rgba(49,125,134,1) 0%, rgba(204,215,226,1) 0%),url(/img/bg4.png);
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    header{
        width: 100wh;
        height: 15rem;
        position:sticky;
        // background-color:#7e652b;
        // background-image: url(/img/fixed2.png);
        // background-color: gainsboro;
        background-position:center;
        background-size: cover;
        align-items: center;

        #SIGN{
            // font-family: 'Mukta', sans-serif;
            font-family: 'Square Peg', cursive;
            font-size: 9rem;
            // font-weight: bold;
            // padding-top: 0.5em;
            text-align: center;
            color:rgb(195, 240, 190);

        }
        .description{
            font-family: 'Square Peg', cursive;
            font-size :5rem ;
            color: rgba(36, 173, 36, 0.8);
            font-weight: bold;
            text-align: center;
        }
        span{
            color: rgb(7, 31, 61);
            font-weight: bolder;
            font-size: 5rem;
        }

    }

    nav{
        // padding: 1rem;
        display: flex;
        justify-content: center;
        background: rgba(82, 67, 167, 0.4);
        height: 6rem;
        // color: $txt-color;
        // background: rgb(2,0,36);
    }
    
    
    .fixed{
        width: 100vw;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // border: 10rem;
        font-size: 2.2rem;
        padding: 1rem;
        
        // position: fixed;
        z-index: 9999;

        // .active11{
            // background-color: #000000;
        // }
        .active{
            // background-color: #bb2828;
            text-decoration: underline;

            transition: 0.3ms ease text-decoration;
            // font-size: 2rem;
            color: #50eb3b;
        }
        // .active a{
        //     color: white;

        // }
        
    }
    .sticky{
        position: fixed;
        background-color:rgba(13, 14, 13, 0.4),;
        top: 0;
        height: 7rem;
        z-index: 999999;
        // border:100rem;
        // background: blue;
        // left: 0;
        // padding: 1em,2em;
        // font-size: 3rem;

        span{
            font-size: 3.0rem;
            // color: azure;
        }
    }
    
    span{
        padding: 1.5rem;
    }
    a{
        color:rgb(238, 222, 222);
        text-decoration: none;
    }
    a:hover{
        color:$txt-hover;
        text-decoration: underline;

    }
    .carousel1{
        height: 60vh;
        width: 100%;
        background:transparent;
        // opacity: 0.9;
        display: grid;
        margin-top:2vh ;
        // position: relative;
        grid-template-columns: 15% 1fr 15%;
        position: static;

        .carousel_item{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            position: relative;
            place-items: center;
            // gap:1rem;
            background:transparent;

            .item{
            height: 60vh;
            width: 70vw;
            background-color: transparent;
            // border: 0.25rem solid yellow;
            display: none;
            opacity: 0.9;
                

            }
            .show{
                // width: 45vw;
                display: block;
                opacity: 1;
                position: relative;
                transition-delay: 0.07ms;
            }
            img{
               height: 58vh;
               width: 50vw; 
               border: 0.1rem solid rgb(134, 236, 177);
            //    background: rgba(219, 188, 176, 0.5);
            backface-visibility: visible;
                // opacity:0.9 ;
            }
        }
        .bttn_con{
            background: transparent;
            font-size: 5rem;
            display: grid;
            place-items: center;
        }

        .a_btn{
            font-size: 7rem;
            color: #83d473;
            // border: 0.2rem solid rgb(32, 32, 31);
            opacity: 1;
            
        }
        .a_btn:hover{
            opacity: 0.9;
            background: #3e413e;
            text-decoration: none;
        }

    }

    .THEME{
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(148, 180, 178, 0.5);
        h1{
            font-size: 2rem;
            color: white;

        .JAPAN{
            color: #e0f804;
            font-weight: 900;
            
        }
        .JAPAN:hover{
            color: rgba(236, 14, 14, 0.5);
        }
        }
    }
   
    .services{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 5rem;
        padding-top: 8rem;
        color: rgb(255, 255, 255);
        z-index:999;
    }
    .gig:hover:hover{
        color: rgb(196, 111, 111);
    }

    .achievement{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-around;
        margin: 4rem;
        justify-content: center;
        // background-color: #50eb3b;

        .outside{
            // left: 20rem;
            height: 30vh;
            width: 30vw;
            border-radius:20%;
            background-color: rgba(77, 88, 10, 0.747);
            padding:2rem;
            object-fit: contain;
            // margin-right: 1rem;
            display: grid;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            // margin: 2rem;

            .inside{
                display: grid;
                place-items: center;
            }

            li{
                font-size: 1.7rem;
                // font-weight:bold;
                color: #e4f1e6;
                padding: 0.25rem;
            }
            ul{
                font-size: 2rem;
                // font-weight: bold;
                color: #7bc03f;
                text-decoration: underline;
            }
            ul:hover{
                color: #dbebde;
                text-decoration: none;
            }
            
        }
    }
    }






.container1{
    // margin: 0;
    height: 100vh;
    width: 100%;

    // background-image :(linear-gradient(rgba(212, 200, 28, 0.5), rgba(159, 175, 88, 0.5)),url(/img/));
    background-image :(linear-gradient(rgba(212, 200, 28, 0.5), rgba(159, 175, 88, 0.5)),url(/img/avatar.jpg));
    background-position: center center;
    // background: rgb(232,224,159);
    // background: radial-gradient(circle, rgb(117, 159, 194) 36%, rgb(127, 152, 199) 94%);
    // background-image: url(/img/end.png);
    background-size: cover;
    background-repeat: no-repeat;
    .main{
        // display: flex;
        // place-items: center;
    

    .connect{
       
        height: 76vh;
        width: 100%;
        // background:rgba(33, 64, 199, 0.5);
      
        // background-position: center center;
        background-position: top;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;


        h1{
            text-align: center;
            font-size: 5rem;
            color: #134a9e;
            // background-color: red;

        }
    }

    .f_container{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: flex-end;
        // background-color: #8ae67e;
        // opacity:0.4;
        .foot_box{
            height: 10vh;
            width:100%;
            background-color: #dadada;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                padding: 0.5rem;
                height: 10vh;
                width: vw;
            }
        }
    }
}

}   
          


.container3{
    height: 100vh;
    width: 100vw;
    background-image :(linear-gradient(rgba(160, 177, 64, 0.3), rgba(116, 101, 21, 0.3)),url(/img/cbg.jpg));
    background-size:cover;
    // opacity: 0.8;

    background-position:center;
    display: flex;
    // justify-content: center;
    align-items: center;
    // padding-top: 10rem;
    // flex-direction: row ;

    .about{
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        // border: 0.5rem solid yellow;
        .me{
            background-color: #a03535;
            z-index: 9999;
            // background-color: #eb903b;
        }
    
    .services{
        // width: ;
        padding-top: 2rem;
        height: 92vh;
        width: 38vw;
        display: grid;
        // grid-template-columns: repeat(3,1fr);
        justify-content: right;
        // background-color: rgba(162, 162, 209,0.5);
        gap: 1rem;
        // padding: 2rem;
        padding-right: 2rem;
        inset: 2rem;
        .sbox{
            height: 30vh;
            width: 35vw;
            // border: 0.25rem solid yellow;
            font-size: 4rem;
            text-align: center;
            background-color: rgba(72, 82, 29, 0.6);
            p{
                text-align: center;
                padding: 1rem;
                font-size: 2rem;
                color: rgb(245, 245, 245);
            }
        }
    }

    .intro{
        height: 100vh;
        width: 100%;
        direction: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        p{
            // top: 5rem;
            width: 100%;
            text-align: center;
            font-size: 2.4rem;
            color: #f8f8f8;
        }
    }

.con{
    height: 100vh;
    width: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    .con1{
        height: 40vh;
        width: 60vw;
        // background: rgba(95, 189, 95,0.6);
        video{
            padding-right: 60rem;
            height: 40vh;
            width: 60vw
        }
    }
}

} 
     
}


.container4{
    @include container ;
    background-image :(linear-gradient(rgba(219, 217, 66, 0.5), rgba(155, 148, 55, 0.5)),url(/img/newbg2.jpg));
    width: 100vw;
    background-size: cover;
    background-position: center;
    // display: inline-block;
    align-items: center;

    header{
        padding: 2rem;
        height: 5vh;
        width: 100vw;
        text-align: center;
        font-size: 2rem;
    }

    .blog_nav{
        
        padding: 3rem;
        height: 4vh;
        width: 100vw;
        // background-color: rgba(210, 221, 209, 0.5);
        display: flex;
        place-items: center;
        // align-items: center center;
        justify-content: center;
        // display: none;

        .blog_conatiner{
            height:15rem ;
            width: 100vw;
            display: flex;
            align-items: center;
            background-color: rgb(78, 57, 196);
            text-align: center;
            font-size: 3rem;
            
    }
       a{
            font-size: 3rem;
            color: #431cb9;
            padding: 1rem;
            // text-align: center;
            // list-style: none;
            text-decoration: none;
        }
        // .write_box{

        
        }

    .write_box{
        width: 100vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        padding: 3.5%;

    .write{
        padding: 5.5vh;
        width: 80vw;
        height: 5vh;
        font-size: 2.3rem;
        color: rgb(0, 3, 10);
        font-family: cursive;
    }}
    .modal_body{
       

        h2{
            padding: 1rem;
            font-size: 2rem;
            color: #810812;
            text-decoration: underline;
        }
        h2:hover{
            color: #a03535;
        }
    }

    .modal {
        display: none; 
        position: fixed; 
        z-index: 1;
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100vw; 
        height: 100vh;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(161, 133, 133); /* Fallback color */
        background-color: rgba(164, 221, 208, 0.7); /* Black w/ opacity */
        
    
    
    /* Modal Content */
    .modal-content {
        background-color: rgba(175, 241, 157, 0.7);
        margin: auto;
        padding: 5rem;
        border: 1px solid rgb(226, 15, 15);
        align-items: center;
        width: 80vw;
        height: 60vh;
        // text-align: center;
        h2{
            font-size: 4rem;
            color:black;

        }
        p{
            font-size: 2rem;
            color:black;
        }
        .re{
            height: 2rem;
            color: #f80404;
        }
    input{
        background-color: rgba(93, 131, 138, 0.5);
        border: none;
        // border-radius: 20%;
    }
    
    /* The Close Button */
    .close {
        color: #1c04f8;
        float: right;
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
    }
    
    .ebcf_close:hover,
    .ebcf_close:focus {
        color: rgba(206, 160, 160, 0.5);
        text-decoration: none;
        cursor: pointer;
    }
    .form{
        font-size: 2rem;
        color: rgb(158, 42, 42);
    }
}
}   

    .parts{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5,1fr);
        justify-content: space-between;
        padding: 4%;
        // display: none;

        div{
            height: 50vh;
            width: 15vw;
        //    background-color: #ad6565;
           padding: 1rem;
            text-align: center;
            span{
                padding: 1rem;
            }
            img{
                // object-fit: ;
                height: 50vh;
                width: 19vw;
            }
        }
}
}
