@import "mixin";
 @import "var";


*{
    margin: 0;
    bottom: 0;
    // z-index: -99;
    padding: 0;
    box-sizing: border-box;
    // border-top:1rem solid green;
    // font-family: 'Square Peg', cursive;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
.container{
    @include flexmin;
    background-image :(linear-gradient(rgba(39, 88, 10, 0.5),rgba(62, 83, 70, 0.5)),url(/img/pic.png));
    background-size: cover;
    // background: rgb(49,125,134);
    // background: linear-gradient(90deg, rgba(49,125,134,1) 0%, rgba(204,215,226,1) 0%),url(/img/bg4.png);
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    header{
        width: 100wh;
        height: 25rem;
        position:sticky;
        // background-color:#7e652b;
        background-image: url(/img/fixed2.png);
        // background-color: gainsboro;
        background-position:center;
        background-size: cover;
        align-items: center;

        #SIGN{
            // font-family: 'Mukta', sans-serif;
            font-family: 'Square Peg', cursive;
            font-size: 9rem;
            // padding-top: 0.5em;
            text-align: center;
            color:rgb(216, 67, 26);

        }
        .description{
            font-family: 'Square Peg', cursive;
            font-size :5rem ;
            color: rgba(7, 3, 54, 0.8);
            font-weight: bold;
            text-align: center;
        }
        span{
            color: rgb(71, 12, 12);
            font-weight: bolder;
            font-size: 5rem;
        }

    }

    nav{
        // padding: 1rem;
        display: flex;
        justify-content: center;
        // color: $txt-color;
        // background: rgb(2,0,36);
    }
    
    
    .fixed{
        width: 100vw;
        // height: 7rem;
        display: flex;
        justify-content: space-around;
        // border: 10rem;
        font-size: 2.5rem;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.4);
        // position: fixed;
        z-index: 9999;

        // .active11{
            // background-color: #000000;
        // }
        .active{
            // background-color: #bb2828;
            text-decoration: underline;

            transition: 0.3ms ease text-decoration;
            // font-size: 2rem;
            color: #50eb3b;
        }
        // .active a{
        //     color: white;

        // }
        
    }
    .sticky{
        position: fixed;
        background-color: rgba(25, 94, 4, 0.5);
        top: 0;
        height: 8rem;
        z-index: 999999;
        // border:100rem;
        // background: blue;
        // left: 0;
        // padding: 1em,2em;
        // font-size: 3rem;

        span{
            font-size: 3.5rem;
        }
    }
    
    span{
        padding: 1.5rem;
    }
    a{
        color:rgb(3, 1, 1);
        text-decoration: none;
    }
    a:hover{
        color:$txt-hover;
        text-decoration: underline;

    }
    .services{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 5rem;
        padding-top: 8rem;
        color: rgb(255, 255, 255);
        z-index:999;
    }
    .gig:hover:hover{
        color: rgb(196, 111, 111);
    }

    .achievement{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-around;
        // justify-content: center;
        // background-color: #50eb3b;

        div{
            left: 20rem;
            height: 35vh;
            width: 33vw;
            background-color: rgba(5, 41, 12, 0.7);
            padding:2rem;
            object-fit: contain;
            // margin: 2rem;

            li{
                font-size: 1.7rem;
                // font-weight:bold;
                color: #2fc944;
                padding: 0.25rem;
            }
            ul{
                font-size: 2rem;
                // font-weight: bold;
                color: #224109;
                text-decoration: underline;
            }
            
        }
    }
    }






.container1{
    // margin: 0;
    height: 100vh;
    width: 100%;

    background-image :(linear-gradient(rgba(159, 215, 179, 0.5), rgba(62, 83, 70, 0.5)),url(/img/end.png));
    background-position: center center;
    // background-image: url(/img/end.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .feedback{
        padding-bottom: 4rem;
        text-align: center;
        font-size: 3rem;
        color: rgb(114, 39, 16);


    }
    .reviews{
        text-align: center;
        padding-bottom: 0rem;
        color:rgba(255, 255, 255, 0.776);
        // font-weight: 700;
        font-family: 'EB Garamond', serif;
        // font-family: 'Pacifico', cursive;
        // font-family: 'PT Serif', serif;

        img{
            height: 5.5rem;
        }
        p{  
            padding-top: 2rem;
            font-size: 3.5rem;
            // z-index:999;
        }
    }


//     .modal_body{
//         padding-top: 2vh;
//         cursor: pointer;
//     }

//     .h2{
//         padding: 7rem;
//         font-size: 4rem;
//         color: rgba(20, 5, 61, 0.6);
//         text-decoration: underline;
//     }
//     .h2:hover{
//         color: rgba(4, 1, 14, 0.9);
//     }
//     .modal {
//         display: none; /* Hidden by default */
//         position: fixed; /* Stay in place */
//         z-index: 1; /* Sit on top */
//         padding-top: 100px; /* Location of the box */
//         left: 0;
//         top: 0;
//         width: 100vw; 
//         height: 100vh;
//         overflow: auto; /* Enable scroll if needed */
//         background-color: rgb(0,0,0); /* Fallback color */
//         background-color: rgba(88, 199, 171, 0.4); /* Black w/ opacity */
        
    
    
//     /* Modal Content */
//     .modal-content {
//         background-color: rgba(14, 155, 165, 0.7);
//         margin: auto;
//         padding: 5rem;
//         border: 1px solid #888;
//         width: 80vw;
//         height: 50vh;
//         // text-align: center;
//         h2{
//             font-size: 2rem;
//         }
//         p{
//             font-size: 2rem;
//         }
//     input{
//         background-color: rgba(173, 222, 236, 0.5);
//         border: none;
//         border-radius: 20%;
//     }
    
//     /* The Close Button */
//     .close {
//         color: #f80404;
//         float: right;
//         font-size: 3rem;
//         font-weight: bold;
//         cursor: pointer;
//     }
    
//     .ebcf_close:hover,
//     .ebcf_close:focus {
//         color: rgba(131, 24, 24,0.5);
//         text-decoration: none;
//         cursor: pointer;
//     }
//     .form{
//         font-size: 2rem;
//         color: rgb(131, 36, 36);
//     }
// }
// }   


    

    div{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        display: inline-block;
        text-align: center;
    
    }

   footer{
        border:5em rgb(57, 189, 132);
    }
    .footer-border{
        width: 100%;
        height: 5vh;
        align-items: center;
        // padding: 4em;
        background-color: solid rgb(52, 186, 177);
    }

    span{
        padding-bottom: 2rem;
        // 
    }
    h1{
        font-size: 3.5rem;
        color: rgba(12, 37, 104, 0.8);
        padding: 2rem;
    }
    h1:hover{
        color: rgba(2, 9, 26, 0.9);
    }
    a{
        font-size: 2.5rem;
        text-decoration: none;
        color: rgb(158, 42, 42);
    }
    img{
        height: 6.5rem;
    }
    
    
}

    
.container3{
    height: 100vh;
    width: 100vw;
    background-image :(linear-gradient(rgba(159, 211, 149, 0.3), rgba(158, 110, 39, 0.3)),url(/img/bg.jpg));
    background-size: cover;

    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    // flex-direction: row ;

    .carousel{
        position: relative;
        // top: 1vh;
        .carousel_item{

        height:80vh;
        width: 60vw;
        background-color: #888;
        color: #f80404;
        font-size: 4rem;
        // padding: 1rem;
        display:flex;
        // padding-top: rem;
        align-items: center;
        justify-content: center;
        display: none;

        .img{
            height: 80vh;
            width: 60vw;
        }
        video{
            height: 80vh;
            width: 60vw;
        }

      }
    
    .item_selected{
        display: block;
      }
        .car_nav{
        width: 60vw;
        height: 5vh;
        // padding: 2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        // background-color: #8d4b42;
        text-align :center;

        .btn{
            height: 2rem;
            width: 2rem;
            display: inline-block;
            background-color: rgba(98, 122, 12, 0.3);
            border-radius: 50%;
            margin : 0 5px;
            cursor: pointer;
        }

        .btn_selected{
            background-color: rgba(145, 53, 11, 0.5);
        }

        } 


    
      }
     
}
    
           

.container4{
    @include container ;
    background-image :(linear-gradient(rgba(196, 136, 27, 0.5), rgba(15, 100, 47, 0.5)),url(/img/bg2.jpg));
        
    background-size: cover;
    background-position: center;
    // display: inline-block;
    align-items: center;

    header{
        padding: 1rem;
        height: 5vh;
        width: 100vw;
        text-align: center;
        font-size: 2rem;
    }

    .blog_nav{
        
        padding: 1rem;
        height: 5vh;
        width: 100vw;
        background-color: #721e0ff8;
        display: flex;
        // align-items: center center;
        justify-content: center;
        // display: none;

        .blog_conatiner{
            height:15rem ;
            width: 100vw;
            display: flex;
            align-items: center;
            background-color: rgb(224, 154, 145);
            text-align: center;
            font-size: 3rem;
            
    }
       a{
            font-size: 3rem;
            color: #eed8df;
            padding: 1rem;
            // text-align: center;
            // list-style: none;
            text-decoration: none;
        }
        // .write_box{

        
        }

    .write_box{
        width: 100vw;
        height: 5vh;
        display: flex;
        justify-content: center;

    .write{
        padding-top: 2.5vh;
        width: 80vw;
        height: 5vh;
        font-size: 2.3rem;
        color: rgb(30, 53, 156);
        font-family: cursive;
    }}
    .modal_body{

        h2{
            font-size: 2rem;
            color: #f80404;
            text-decoration: underline;
        }
        h2:hover{
            color: #a03535;
        }
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100vw; 
        height: 100vh;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(88, 199, 171, 0.4); /* Black w/ opacity */
        
    
    
    /* Modal Content */
    .modal-content {
        background-color: rgba(44, 165, 14, 0.7);
        margin: auto;
        padding: 5rem;
        border: 1px solid #888;
        width: 80vw;
        height: 50vh;
        // text-align: center;
        h2{
            font-size: 4rem;

        }
        p{
            font-size: 2rem;
        }
    input{
        background-color: rgba(173, 222, 236, 0.5);
        border: none;
        border-radius: 20%;
    }
    
    /* The Close Button */
    .close {
        color: #f80404;
        float: right;
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
    }
    
    .ebcf_close:hover,
    .ebcf_close:focus {
        color: rgba(131, 24, 24,0.5);
        text-decoration: none;
        cursor: pointer;
    }
    .form{
        font-size: 2rem;
        color: rgb(131, 36, 36);
    }
}
}   

    .parts{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5,1fr);
        justify-content: space-between;
        padding-top: 5%;
        // display: none;

        div{
            height: 70vh;
            width: 19vw;
        //    background-color: #ad6565;
           padding: 1rem;
            text-align: center;
            span{
                padding: 1rem;
            }
            img{
                // object-fit: ;
                height: 70vh;
                width: 19vw;
            }

        }
        // img[
        //     height: 70vh;
        //     width: 18vw;
        // ]
        // .t1{
        //     background-image: url(/img/1.jpg);
        //     background-position: center ;
        //     object-fit:contain
        // }
        // .t2{
        //     background-image: url(/img/5.jpg);
        //     background-position: center center;
        //     object-fit:contain

        // }
        // .t3{background-image: url(/img/2.jpg);
        //     background-position: center center;
        //     object-fit:contain}
        // .t4{background-image: url(/img/3.jpg);
        //     background-position: center center;
        //     object-fit:contain}
        // .t5{background-image: url(/img/4.jpg);
        //     background-position: center center;
        //     object-fit:contain}

    }

    // .content_selected{
    //     display: block;
    //   }
    //     .blog_nav .blog_conatiner{
    //     width: 60vw;
    //     height: 5vh;
    //     // padding: 2rem;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     // background-color: #8d4b42;
    //     text-align :center;

    //     .blog_items{
    //         height: 2rem;
    //         width: 2rem;
    //         display: inline-block;
    //         background-color: rgba(98, 122, 12, 0.3);
    //         border-radius: 50%;
    //         margin : 0 5px;
    //         cursor: pointer;
    //     }

    //     .btn_selected{
    //         background-color: rgba(145, 53, 11, 0.5);
    //     }




  
        
}


